# Virtual environment
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.pkl

# PyCharm project files
.idea/

# If you're using Django Debug Toolbar
debug.log

# Local env files
.env
*.env

# Django static and media files
/static/
/media/

# Node modules (if using npm or yarn)
node_modules/

# pyenv
.python-version

# Celery beat schedule files
celerybeat-schedule

# pytest
.cache

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Bandit security linter
.bandit/

# Build files
build/
dist/
*.egg-info/